<html>

 
 
<head>

     <title>Insert-page</title>

</head>

<body>

 <form method="get" action="/insertres"  >

     Roll Number <input type="text" name="grollno" /> <br>
     Name <input type="text" name="gname" /> <br>
     Courses <input type="text" name="gcourse" /> <br>
    Fess <input type="number" name="gfees" />  <br>

    <input type="submit" name="b1" value="Insert" />
 </form>


</body>

</html>